<h2>{{dogInfo.dog_name}}</h2>
    <h2>{{dogInfo.dog_age}}</h2>
   <h2> {{dogInfo.dog_adress}}</h2>
    <h2>{{dogInfo.dog_vaccine}}</h2>
    {{#each dogInfo.comments }}
    <p>{{comment}}</p>
    {{/each}}
